<br>
<br>
<br>
<br>
<h3> What is American Sign Language?</h3>
    <br>
    <h6>American Sign Language (ASL) is a complete, natural language that </h6>
        <br><h6>
        has the same linguistic properties as spoken languages,with grammar</h6>
        <br>
         that differs from English. ASL is expressed by  movements of the hands
         <br> and face.  It is the primary language of many North Americans who 
         <br>
         are deaf and hard of hearing and is used by some hearing people as well.
     <br>
    
    <h3>Is sign language the same in other countries?</h3>
    <br>
   <h6>There is no universal sign language. Different sign languages are used in 
    <br>different countries or 
   regions. For example, British Sign Language (BSL) is a different language from
   <br> 
   ASL, and Americans who know ASL may not understand BSL. Some countries adopt 
   <br>
   features of ASL in their sign languages.</h6> 
     <br>
    <h3>Where did ASL originate?</h3>
    <br>
    <h6>No person or committee invented ASL. The exact beginnings of ASL are not clear,
    <br>
    but some suggest that it arose more than 200 years ago from the intermixing of 
    <br>
    local sign languages and French Sign Language (LSF, or Langue des Signes Française).
    <br>
    Today’s ASL includes some elements of LSF plus the original local 
    <br>
    sign languages; over time, these have melded and changed into a rich, complex,
    <br>
    and mature language. Modern ASL and modern LSF are distinct languages. While they
    <br>
    still contain some similar signs, they can no longer be understood by each other’s users.
    </h6>
   <h3> How does ASL compare with spoken language?</h3>
    <h6>SL is a language completely separate and distinct from English. It contains all
        <br>
         the fundamental features of language, with its own rules for pronunciation, word 
         <br>
         formation, and word order. While every language has ways of signaling different
         <br> functions, such as asking a question rather than making a statement, languages
         <br>
          differ in how this is done. For example, English speakers may ask a question by
          <br>
           raising the pitch of their voices and by adjusting word order; ASL users ask a
           <br>
            question by raising their eyebrows, widening their eyes, and tilting their bodies  forward.
    <br>
    Just as with other languages, specific ways of expressing ideas in ASL vary as much as 
    <br>
    ASL users themselves. In addition to individual differences in expression, ASL has regional accents and dialects; just as certain English words are spoken differently in different parts of the country, ASL has regional variations in the rhythm of signing, pronunciation, slang, and signs used. Other sociological factors, including age and gender, can affect ASL usage and contribute to its variety, just as with spoken languages.
    
    Fingerspelling is part of ASL and is used to spell out English words. In the fingerspelled 
    <br>
    alphabet, each letter corresponds to a distinct handshape. Fingerspelling is often used 
    <br>
    for proper names or to indicate the English word for something.
</h6>
    <h3>How do most children learn ASL?</h3>
<h6>   Parents are often the source of a child’s early acquisition of language, but for children 
    <br>
    who are deaf, additional people may be models for language acquisition. A deaf child born to
    <br>
     parents who are deaf and who already use ASL will begin to acquire ASL as naturally as a hearing
     <br>
      child picks up spoken language from hearing parents. However, for a deaf child with hearing 
      <br>
      parents who have no prior experience with ASL, language may be acquired differently.
      <br>
       In fact, 9 out of 10 children who are born deaf are born to parents who hear. Some hearing
       <br>
        parents choose to introduce sign language to their deaf children. Hearing parents who choose
        <br>
         to have their child learn sign language often learn it along with their child. Children 
         <br>
         who are deaf and have hearing parents often learn sign language through deaf peers and become fluent.
</h6>
<br>
<br>
<br>







