<head>

</head>
<body>
  <br>


   <!-- <div class="row"  >
  <div  >
    <div *ngFor="let sign of signes" class="col-sm-2">
      <div class="card">
        <button class="card-body">
          <h4><strong>{{sign}}</strong></h4>
  
        </button>
      </div>
    </div>
</div>
</div>
<div class="row"  >
  <div  >
    <div *ngFor="let sign of signes" class="col-sm-2">
      
      <div class="card">
        <button class="card-body">
          <h4><strong>{{sign}}</strong></h4>
  
        </button></div>
    
      </div>
    </div>
</div>  -->
<!-- </div> -->




  <div *ngIf="flag" >
<div class="row" >
  <div class="col-sm-2" >
    <div class="card">
      <button class="card-body" >
        <h4><strong>A</strong></h4>

      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>B</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>C</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>D</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>E</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>F</strong></h4>

      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>G</strong></h4>

      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>H</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>I</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>J</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>K</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>L</strong></h4>

      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>M</strong></h4>

      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>N</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>O</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>P</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>Q</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>R</strong></h4>

      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>S</strong></h4>

      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>T</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>U</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>V</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>W</strong></h4>
      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>X</strong></h4>

      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>Y</strong></h4>

      </button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <button class="card-body">
        <h4><strong>Z</strong></h4>
      </button>
    </div>
  </div>
</div>
</div>
<br>
<div *ngIf="flag==false">
<div class="row">
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>1</strong></h4>

    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>2</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>3</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>4</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>5</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>6</strong></h4>

    </button>
  </div>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>7</strong></h4>

    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>8</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>9</strong></h4>
    </button>
  </div>
</div>
<div class="col-sm-2">
  <div class="card">
    <button class="card-body">
      <h4><strong>0</strong></h4>
    </button>
  </div>
</div>
</div>
</div>
<br>

</body>



