/* מעבר על הכרטיס */

.card-body:hover{
    background-color: lightsalmon;
}
/* עיצוב האות */
h4{
font-size: 150px;
text-align:center;
font-family: cursive;
}
.row{  
    margin: 10px 10px 10px 10px;
 }
